*
{
    margin: 0;
    padding: 0;
    font-family: 'Ink Journal',sans-serif;
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 8em;
    font-weight: 500;
    text-transform: uppercase;
    background: #000;
    color: #fff;
}
.tampo
{
    position: relative;
    display: flex;
    background: #000;
}
.tampo span
{
    position: sticky;
    top: 0;
    width: 10%;
    height: 100vh;
    background: #00f;
    margin-top: calc(100vh * var(--i));
}
h2
{
    position: relative;
    background: linear-gradient(0deg,#ff0076,#cc00ff,#ffae00,#1fae99,#00f);
    display: flex;
    justify-content: center;
}
h2 span
{
    position: sticky;
    top: 0;
    line-height: 100vh;
    height: 100vh;
    color: #fff;
    font-size: 6em;
    margin-top: calc(100vh * var(--i));
}